python-dotenv
groq
AppOpener
pywhatkit
bs4
pillow
rich
requests
keyboard
cohere
speechrecognition
googlesearch-python
selenium
mtranslate
pygame
edge-tts
PyQt5
webdriver-manager
matplotlib
networkx 
scikit-learn